.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.pagination-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination-button {
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

.pagination-button:hover {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination-button.active {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(19, 102, 217, 0.2);
}

.pagination-button__nav {
    padding: 12px;
    border: 1px solid #1b1e28;
    border-radius: 8px;
    background-color: #fff;
    color: #1b1e28;
    cursor: pointer;
    font-size: 1.4rem;
    min-width: 100px;
    text-wrap: nowrap;
    transition: all 0.3s ease;
}

.pagination-button__nav:hover {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination-button__nav:disabled {
    color: #858d9d;
    cursor: not-allowed;
    border-color: #858d9d;
    background-color: #f5f5f5;
    transform: none;
    box-shadow: none;
}

.pagination-button__nav:disabled:hover {
    background-color: #f5f5f5;
    color: #858d9d;
    border-color: #858d9d;
    transform: none;
    box-shadow: none;
}
