.repair-page {
    padding: 15px 10px;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
}

.repair-page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.repair-page__header-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.repair-page__header-button {
    padding: 12px 15px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.repair-page__header-button:hover {
    opacity: 0.8;
}

.repair-page__content {
    margin-top: 15px;
    flex: 1;
    min-height: 0;
    margin-bottom: 15px;
}

.repair-table td:nth-child(4),
.repair-table th:nth-child(4),
.repair-table td:nth-child(6),
.repair-table th:nth-child(6),
.repair-table td:nth-child(7),
.repair-table th:nth-child(7),
.repair-table td:nth-child(8),
.repair-table th:nth-child(8) {
    text-align: center;
}

.repair-table td:nth-child(8) {
    overflow: visible;
}

/* Repair Modal (CSS chung) */

.repair-modal__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.repair-modal__table-title {
    font-size: 1.4rem;
    font-weight: 400;
}

.repair-modal__client-info {
    display: grid;
    grid-template-columns: 3fr 4fr 5fr;
    align-items: center;
    gap: 15px;
}

.repair-modal__input-item label {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 5px;
    display: block;
}

.repair-modal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.repair-modal__button-container {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.repair-modal__button {
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    min-width: 80px;
}

.repair-modal__button.confirm-button {
    background-color: var(--primary-color);
    color: white;
}

.repair-modal__button.confirm-button:hover {
    opacity: 0.8;
}

.repair-modal__button.cancel-button {
    background-color: #fff;
    border: 1px solid #b9bdc7;
    color: gray;
}
.repair-modal__button.cancel-button:hover {
    background-color: red;
    color: white;
}

.repair-modal__separate {
    width: 2px;
    background-color: #b9bdc7;
}

.repair-modal__table-content {
    flex: 1;
    min-height: 0;
    max-height: 300px;
    overflow-y: auto;
}

.repair-modal__table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-height: 0;
}

.repair-modal__btn-container {
    display: flex;
    justify-content: flex-end;
}

/* Detail Repair Modal */

.detail-repair-modal {
    padding: 10px;
    display: flex;
}

.detail-repair-modal__repair-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.register-type-tab {
    padding: 12px 15px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 600;
    min-width: 120px;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    font-size: 1.4rem;
}

.register-type-tab.active {
    background-color: var(--primary-color);
    color: white;
}

.detail-repair-table td:nth-child(3),
.detail-repair-table th:nth-child(3),
.detail-repair-table td:nth-child(1),
.detail-repair-table th:nth-child(1) {
    text-align: center;
}

/* Staff In Charge Modal */

.staff-in-charge-modal {
    padding: 10px;
    display: flex;
    gap: 15px;
}

.staff-in-charge__actions {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

.staff-in-charge-table td:nth-child(1),
.staff-in-charge-table th:nth-child(1) {
    text-align: center;
}

/* Component Used Modal */

.component-used-modal {
    padding: 10px;
    display: flex;
    gap: 15px;
}

.component-used-table td:nth-child(3),
.component-used-table th:nth-child(3) {
    text-align: center;
}

/* Detail Invoice Modal */

.detail-invoice-modal {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail-invoice-modal__info {
    display: flex;
    gap: 15px;
}

.detail-invoice-modal__info-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
}

.detail-invoice-modal__label {
    font-size: 1.5rem;
    color: #5d6679;
    line-height: 1.5;
    font-weight: 400;
}

.detail-invoice-modal__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: #06421b;
    text-align: center;
}

.detail-invoice-modal__table {
    margin: 15px 0;
}

.detail-invoice-modal__separate {
    width: 100%;
    height: 1px;
    background-color: #656d77;
}

.detail-invoice-modal__total {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.detail-invoice-modal__total .detail-invoice-modal__label {
    font-weight: 600;
}
